
body{
    font-family: roboto
}
.br-0{
    border-radius: 0
}

.light-green{
    color: #42b883 !important
}
.wrapper{
    margin-top: 16%;
}
.b-5{
    font-weight: 500
}
.b-6{
    font-weight: 600
}
.b-7{
    font-weight: 700
}
.t-10{
    font-size: 10px
}
.t-11{
    font-size: 11px
}
.t-12{
    font-size: 12px
}
.t-13{
    font-size: 13px
}
.t-14{
    font-size: 14px
}
.text-gray-300{
    color: #e2e8f0;
}
.text-gray-400{
    color: #cbd5e0;
}
.text-gray-500{
    color: #a0aec0;
}
.text-gray-600{
    color: #718096
}
a:hover{
    text-decoration: none
}


.checkWrapper {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkWrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border:  1px solid #28a745
  }
  
  /* On mouse-over, add a grey background color */
  .checkWrapper:hover input ~ .checkmark {
    background-color: #ccc;
    border:  1px solid #ccc
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkWrapper input:checked ~ .checkmark {
    background-color: #28a745;
    border:  1px solid #28a745;
    transition: 0.4s ease cubic-bezier(0.075, 0.82, 0.165, 1)
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkWrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkWrapper .checkmark:after {
    left: 4px;
    top: 0px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
